{% extends "base.html" %}
{% block title %} StoichiometryFitter {% endblock %}
{% block content %} 

<!--
<script language="javascript" type="text/javascript">
    const element = ["H","He","Li","Be","B","C","N","O","F","Ne","Na","Mg","Al","Si","P",
"S","Cl","Ar","K","Ca","Sc","Ti","V","Cr","Mn","Fe","Co","Ni","Cu","Zn","Ga","Ge","As","Se",
"Br","Kr","Rb","Sr","Y","Zr","Nb","Mo","Tc","Ru","Rh","Pd","Ag","Cd","In","Sn","Sb","Te","I",
"Xe","Cs","Ba","La","Ce","Pr","Nd","Pm","Sm","Eu","Gd","Tb","Dy","Ho","Er","Tm","Yb","Lu",
"Hf","Ta","W","Re","Os","Ir","Pt","Au","Hg","Tl","Pb","Bi","Po","At","Rn","Fr","Ra","Ac",
"Th","Pa","U","Np","Pu","Am","Cm","Bk","Cf","Es","Fm","Md","No","Lr","Rf","Db","Sg","Bh",
"Hs","Mt","Ds","Rg","Cn","Uut","Fl","Uup","Lv","Uus","Uuo"]

    document.write("<table>");
    document.write("<form>");
    document.write("<tr>");
    document.write("<th>Element</th> <th>Counts</th> <th>Charge</th>");
    document.write("</tr>");
    for (var a=0; a < element.length; a++) {
      document.write("<tr>");
      //document.write("<td><label for=" + "name" + ">" + element[a] + "</label></td>");
      document.write("<td><input type= \"number\" name= \"" + element[a] +"\" /></td>");
      document.write("<td><input type= \"number\" name= \"" + element[a] +"\" /></td>");
      document.write("</tr>");
    }
    document.write("</form>");
    document.write("</table>");
    </script>
-->
<form action="#" method="post">
  <p>Name:</p>
  <p><input type="text" name = "nm"></p>
  <p><input type="submit" value= "submit"></p>
  </form>

{% endblock %}